{% extends "base.twig" %}

{% block body %}
    <legend>
        <h1>{{ title }}<br><small>parsed from <a href="{{ url }}">{{ url }}</a></small></h1>
    </legend>
    {{ content | raw }}
{% endblock %}
