<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Working on it</title>
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <ul class="nav">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
                <li class="divider-vertical">::</li>
            </ul>
            <form action="./" class="form-inline" method="post">
                <input name="link" type="text" class="span10" placeholder="Link to article…" />
                <button type="submit" class="btn pull-right span2">Archive</button>
            </form>
        </div>
    </div>
</body>

</html>
